<div class="row">
    <div class="col-sm-6" ng-init="isRegistrated = false">
        <h2>Registrierung</h2>
        <form class="form-horizontal" ng-hide="isRegistrated">
            <div class="form-group">
                <label class="control-label col-sm-3" for="user">Benutzername</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="user" placeholder="Damian" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="password">Passwort</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="forname">Vorname</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="forname" placeholder="Damian">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="surname">Nachname</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="surname" placeholder="Muster">
                </div>
            </div>
            <!--            <div class="form-group">
                            <label class="control-label col-sm-3" for="cardNumber">Kreditkartennummer</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="cardNumber" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="securityNumber">Sicherheitsnummer</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="securityNumber" placeholder="">
                            </div>
                        </div>-->
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-default" ng-click="isRegistrated = true">Registrieren</button>
                </div>
            </div>
        </form>
        <div class="panel panel-success" ng-show="isRegistrated">
            <div class="panel-heading">Registrierung <b>erfolgreich</b>!</div>
        </div>
    </div>
    <div class="col-sm-6" ng-init="isLoggedIn = false">
        <h2>Login</h2>
        <form class="form-horizontal" ng-hide="isLoggedIn">
            <div class="form-group">
                <label class="control-label col-sm-3" for="user">Benutzername</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="user" placeholder="Damian" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="password">Passwort</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-default" ng-click="isLoggedIn = true">Login</button>
                </div>
            </div>
        </form>
        <div class="panel panel-success" ng-show="isLoggedIn">
            <div class="panel-heading">Login <b>erfolgreich</b>!</div>
        </div>
    </div>
</div>
